{% extends 'base.html.twig' %}

{% block title %}Se connecter!{% endblock %}

{% block body %}

    <div class="container center">
        <h1 align="center">Connexion</h1>
        <form method="post"  class="row">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

             {% if app.user %}
                <div class="mb-3">
                    Tu es connecté {{ app.user.username }}
                </div>
             {% endif %}

        <div class="'row g-3" >
            <div class="col-12" >
                <label for="inputPseudo">Identifiant :</label>
                <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" required autofocus>
             </div>
            <div class="col-12">
                <label for="inputPassword">Mot de passe :</label>
                 <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

       {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html #}

            <div class="col-12">
                <div class="form-check">
                    <label>
                        <input type="checkbox" id="remember_me" name="remember_me" checked> Se souvenir de moi
                    </label>
                </div>
            </div>
            <div class="col-12">
                <div>
                    <button class="btn btn-lg btn-primary" type="submit">
                        Connection
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
