{% extends 'base.html.twig' %}

{% block title %}Gestion des sorties{% endblock %}

{% block body %}
<h1>Page de gestion des sorties</h1>

    <a href="{{ url('tripManage_create') }}">Creer une sortie</a>
{% endblock %}
