{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div align="center">
        <h1 style="margin-top: 200px">BIENVENUE
            {% if app.user %}
                    {{ app.user.pseudo }}
            {% endif %} </h1>
        <h2 style="margin-bottom: 200px"> Vous êtes sur le site dédié à l'organistion des sorties de l'ENI.</h2>
    </div>
{% endblock %}
