body {
    background: url("../img/bg.png") no-repeat ;
    background-size: cover;
}

header {
    margin-bottom: 0px;
    background-color: rgba(255,255,255,0.9);
    /*height: 10vh;*/

}

.bgBody {
    width: auto;
    margin: 0px;
    padding-bottom: 10px;
    /*height: 80vh;*/

}

.bgNavBar {
    background-color: #144a7f;
    color: #b1c13e;
    border-radius: 20px;
    height: 100%;
}

.bgNavBar a{
    color: #b1c13e;
    font-weight: bold;
}

.bgNavBar a:hover{
    color: #fff;
    text-decoration: none;
}

.bgContainer {
    background-color: rgba(255,255,255,0.9);
    border-radius: 15px;
    margin-bottom: 80px;
    height: 99%;
    width: 80%;
    overflow-x: scroll;

}

.logoNav {
    width: 100px;
}

.mapClass {
    width: 100%;
    height: 300px;
    border: 2px #223dac solid;
}

.markerMap {
    width: 40px;
    position: absolute;
    left: 50%;
    transform: translateY(+110px);
    z-index: 1;

}

footer {
    position: relative;
    bottom: 0;
    width: auto;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.bgFooter{
    background-color: rgba(255,255,255,0.9);
}

.styleFooter {
    font-weight: bold;
    animation: Test 1s infinite;
}
@keyframes Test{
    0%{opacity: 1;}

    100%{opacity: 0;}
}
