body {
    background: url("../img/bg.png") no-repeat ;
    background-size: cover;
}

header {
    margin-bottom: 0px;
    background-color: rgba(255,255,255,0.9);
    /*height: 10vh;*/

}

.bgBody {
    width: auto;
    margin: 0px;
    padding-bottom: 10px;
    /*height: 80vh;*/

}

.bgNavBar {
    background-color: #144a7f;
    color: #b1c13e;
    border-radius: 20px;
    height: 100%;
}

.bgNavBar a{
    color: #b1c13e;
    font-weight: bold;
}

.bgNavBar a:hover{
    color: #fff;
    text-decoration: none;
}

.bgContainer {
    background-color: rgba(255,255,255,0.9);
    border-radius: 15px;
    margin-bottom: 80px;
    height: 99%;
    width: 80%;
    overflow-x: scroll;

}

.logoNav {
    width: 100px;
}

.mapClass {
    width: 100%;
    height: 300px;
    border: 2px #223dac solid;
}

.markerMap {
    width: 40px;
    position: absolute;
    left: 50%;
    transform: translateY(+110px);
    z-index: 1;

}

footer {
    position: relative;
    bottom: 0;
    width: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.bgFooter{
    /*background-color: rgba(255,255,255,0.9);*/
}

.styleFooter {
    color: #fff;
    font-weight: bold;
    animation: Test 1s infinite;
}
@keyframes Test{
    0%{opacity: 1;}

    100%{opacity: 0;}
}

.adminLinkNavBar{
    background-color:#144a7f;
}

.adminLinkNavBar a:hover{
    background-color: #144a7f;
}

/*** MODIF BUTTON SUCCES ***/
.btnSuccess{
    font-weight: bold;
    color:#b1c13e;
    background-color:#144a7f;
    border-color:#144a7f
}
.btnSuccess:hover{
    color:#fff;
    background-color:#144a7f;
    border-color:#144a7f
}
.btnSuccess.focus,.btnSuccess:focus{
    box-shadow:0 0 0 .2rem #144a7f
}
.btnSuccess.disabled,.btnSuccess:disabled{
    color:#fff;
    background-color:#144a7f;
    border-color:#144a7f
}
.btnSuccess:not(:disabled):not(.disabled).active,.btnSuccess:not(:disabled):not(.disabled):active,.show>.btnSuccess.dropdown-toggle{
    color:#fff;
    background-color:#144a7f;
    border-color:#144a7f}
.btnSuccess:not(:disabled):not(.disabled).active:focus,.btnSuccess:not(:disabled):not(.disabled):active:focus,.show>.btnSuccess.dropdown-toggle:focus{
    box-shadow:0 0 0 .1rem #144a7f
}

/*** Couleur status ***/
.colorStatusCreate {
    font-weight: bold;
    color: #000000;
}

.colorStatusActive {
    font-weight: bold;
    color: #106408;
}

.colorStatusClosure {
    font-weight: bold;
    color: #8a1d1d;
}

.colorStatusIn {
    color: #0f1688;
}

.Progress {
    font-weight: bold;
}

.colorStatusPast {
    font-weight: bold;
    color: #030303;
}

.colorStatusDesactivate {
    font-weight: bold;
    color: #8c8080;
}
