{% extends 'base.html.twig' %}

{% block body %}

    <div class="m-0 align-content-center">
    <div class="container text-center p-4 form-group form-control ">
    <div><p>{{ status_code }}</p>
        <p>{{ status_text }}</p>
    </div>
    <div class="row my-4 justify-content-around ">
        <h1>Ouppsssss !</h1>
    </div>
    <div class="row my-4 justify-content-around" >
        <p style="color: red"> C'est RooOoOoOOouuugggeeeee !</p>
    </div>
    <div class="row my-4 justify-content-around ">
        <p>Null pointer exception ??? Sapré de sapré</p>
    </div>

{% endblock %}